<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.eyezon.testsdkproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestSDKProject">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".VendorBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="action.eyezon.broadcast.push" />
                <action android:name="action.eyezon.new.message" />
                <action android:name="action.eyezon.dialog.deleted" />
                <action android:name="action.eyezon.dialog.returned" />
                <action android:name="action.eyezon.console.event" />
            </intent-filter>
        </receiver>
    </application>

</manifest>